body {
    margin: 0;
    padding: 0;
    background: #212121;
    color: whitesmoke;
    width: 100vw;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.topo {
    width: 100%;
    height: min-content;
    background: #212121;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.header {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: min-content;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.subHeader {
    width: max-content;
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}

.dica{
    width: max-content;
    max-width: 40%;
    display: flex;
    background-color: #636060;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}
.tentativas{
    height: max-content;
    min-width: 40%;
    max-width: 60%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}
.tentativax{
    margin-bottom: 10px;
}
.tentativax input{
    width: 20px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #212121;
    border: 3px solid #636060;
    border-radius: 5px;
    color: white;
    margin-left:20px ;
    text-transform: uppercase;
  
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: 3px solid #636060;
    border-radius: 5px;
    color: transparent;
    text-shadow: 0 0 0 white;
    border-bottom: white solid 3px;
} 

.instrucoes{
    display: flex;
    flex-direction: column;
    height: 10px;
}
.instrucoes span{
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    width: max-content ;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.vermelho{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: red;
    border-radius: 20%;
}
.laranja{
    width: 15px;
    height: 15px;
    border-radius: 20%;
    margin-right: 10px;
    background-color: orange;
}
.verde{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 20%;
    background-color: green;
}